# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environment
.venv/

# Ignore IDE configs (optional if you don’t want .idea tracked)
.idea/

# Keep the folder but ignore Excel files inside
data_input/*.xlsx
data_input/samples/*.xlsx